{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Список фильмов</h1>
    <div class="row g-3">
        {% for movie in movies %}
            <div class="col-md-6">
                <div class="card shadow-sm" style="background-color: #ffebd2; border: 1px solid #f2c1a1;">
                    <div class="card-body">
                        <h5 class="card-title" style="background-color: #ffd7a0; padding: 5px; border-radius: 4px;"><strong>Название:</strong> {{ movie.title }}</h5>
                        <p class="card-text" style="background-color: #ffeecc; padding: 5px; border-radius: 4px;"><strong>Описание:</strong> {{ movie.description }}</p>
                        <p class="card-text" style="background-color: #ffe4b3; padding: 5px; border-radius: 4px;"><strong>Отзыв:</strong> {{ movie.review }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
